In [11]:
import pandas as pd
import geopy.distance as gd

In [108]:
df = pd.read_csv('metrobike-2020.csv')
df.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,134867493,25,1/1/2020 0:16,1/1/2020 0:41,3063,34.048038,-118.253738,4491,34.047440,-118.247940,18419,30,One Way,Monthly Pass,electric
1,134867799,35,1/1/2020 0:24,1/1/2020 0:59,4285,NaN,NaN,4354,34.017681,-118.409081,15661,1,One Way,One Day Pass,smart
2,134868104,37,1/1/2020 0:31,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15848,1,One Way,Walk-up,smart
3,134868103,36,1/1/2020 0:32,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,16053,1,One Way,Walk-up,smart
4,134868102,35,1/1/2020 0:33,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15694,1,One Way,Walk-up,smart

In [29]:
# Number of rides in 2020
df.shape[0]

209974

In [4]:
df.columns

Index(['trip_id', 'duration', 'start_time', 'end_time', 'start_station',
       'start_lat', 'start_lon', 'end_station', 'end_lat', 'end_lon',
       'bike_id', 'plan_duration', 'trip_route_category', 'passholder_type',
       'bike_type'],
      dtype='object')

In [109]:
# Clean unecessary columns
columns = ['duration', 'start_time', 'end_time', 'start_station', 'start_lat', 'start_lon', 'end_station', 'end_lat', 'end_lon', 'bike_id', 'bike_type']
df = df[columns]
df.head()

,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,bike_type
0,25,1/1/2020 0:16,1/1/2020 0:41,3063,34.048038,-118.253738,4491,34.047440,-118.247940,18419,electric
1,35,1/1/2020 0:24,1/1/2020 0:59,4285,NaN,NaN,4354,34.017681,-118.409081,15661,smart
2,37,1/1/2020 0:31,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15848,smart
3,36,1/1/2020 0:32,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,16053,smart
4,35,1/1/2020 0:33,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15694,smart

In [110]:
# According to station info dataset:
# 4285,Metro Bike Share Free Bikes,2/27/2019,Free Bikes,Active
# 4286,Metro Bike Share Out of Service Area Smart Bike,2/27/2019,Free Bikes,Active
# 3000,Virtual Station,7/7/2016,N/A,Active
# I suppose those are virtual and free bike stations (?)

df_null = df[df.isnull().any(axis=1)]
nan_stations = df_null.start_station[df_null['start_lat'].isnull()].unique()
nan_stations

array([4285, 4286, 3000])

In [112]:
# Remove stations without geolocation
df = df.dropna()

In [113]:
# Total bikes within all stations and Nº of stations
print(len(df['bike_id'].unique()))
df['start_station'].unique().shape[0]

3983

263

In [114]:
# Percentage of rides with each model of bike
df['bike_type'].value_counts(normalize=True)

standard    0.511699
electric    0.394669
smart       0.093633
Name: bike_type, dtype: float64

In [115]:
# Mean duration of a bike ride
df['duration'].mean()

31.95790634851989

In [119]:
# Percentage of rides starting at all stations
df['start_station'].value_counts(normalize=True)

3005    0.049584
3035    0.031012
3030    0.026005
3006    0.020219
3014    0.019950
          ...
4557    0.000094
4573    0.000069
4577    0.000069
4569    0.000063
4559    0.000044
Name: start_station, Length: 263, dtype: float64

In [120]:
# Percentage of rides ending at all stations
df['end_station'].value_counts(normalize=True)

3005    0.051351
3035    0.031269
3014    0.024243
3030    0.020157
3006    0.020107
          ...
4577    0.000088
4573    0.000075
4557    0.000069
4569    0.000069
4559    0.000063
Name: end_station, Length: 263, dtype: float64

In [117]:
# df.iloc[:, [4,5 ,7, 8]].head(10)

    start_lat   start_lon    end_lat     end_lon
0   34.048038 -118.253738  34.047440 -118.247940
2   34.014309 -118.491341  34.005871 -118.429161
3   34.014309 -118.491341  34.005871 -118.429161
4   34.014309 -118.491341  34.005871 -118.429161
5   34.092602 -118.280930  34.057652 -118.292183
6   34.092602 -118.280930  34.057652 -118.292183
7   34.046520 -118.237411  34.039188 -118.232529
8   34.046520 -118.237411  34.039188 -118.232529
9   34.046520 -118.237411  34.041691 -118.235352
10  34.047749 -118.243172  34.047749 -118.243172

In [118]:
# Calculate distance using lat-long
df['distance'] = df.apply(lambda x: get_distance(x.iloc[:, [4:9]]))

SyntaxError: invalid syntax (<ipython-input-118-2d62f1af11cd>, line 2)

In [ ]:
# Create frequency matrix of start-end stations